	<div id="aiDetailHeader">
		<div class="container">
			<span>{{ai.NAMEFIND}} #{{aiNumber}}</span>
			<div id="detailHeaderBtnDiv">
				<div class="btnSubDiv" ng-click="aiService.toggleBookmark(ai)"> <i class="icon-bookmark-empty" ng-hide="ai.bookmarked"></i>
            <i class="icon-bookmark" ng-hide="ai.bookmarked !== true"></i></div>
				<div class="btnSubDiv" ng-click="aiService.openUserAi(ai.LISTITEMNUM)"><i class="icon-globe"></i></div>
			</div>
		</div>
	</div>
	
	<div class="container">

		<div id="details">


		</div>


	</div>